.users-main form input {
    padding: 10px;
    font-size: 15px;
    border: 2px solid white;
    width: 170px;
    outline: 0;
}

.users-main form button {
    padding: 10px 15px;
    font-size: 15px;
    margin: 10px;
    background-color: #0066ff;
    border: 2px solid #0066ff;
    color: white;
    outline: 0;
    cursor: pointer;
    transition: .5s;
}

.users-main form button:hover {
    border: 2px solid #003399;
    background-color: #003399;
}